# Generate with: openssl rand -hex 32
JWT_SECRET=

# Generate with: openssl rand -hex 16
MEILI_MASTER_KEY=

# Secure cookies (true in production, false in development)
COOKIE_SECURE=

# App port
PORT=3000

# Default database directory
DATABASE_PATH=/app/data/db/onearctic.db

# Default files directory
FILES_PATH=/app/data/files

# Default Meilisearch host
MEILISEARCH_HOST=http://meilisearch:7700
